.cart-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.notice {
		width: 100%;
	}
	.table1 {
		width: 100vh;
		margin-top: 20px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 20px;
		tr {
			display: flex;
			width: 500px;
			th {
				border: 1px solid gray;
				min-width: 120px;
				text-align: center;
				&:first-child {
					text-align: left;
				}
			}
			td {
				border: 1px solid gray;
				min-width: 120px;
				text-align: center;
				overflow: hidden;
				&:first-child {
					text-align: left;
				}
				button {
					border-radius: 10px;
					border: none;
					padding: 0 10px;
					color: red;
					&:hover {
						transform: scale(1.1);
						background-color: cornflowerblue;
					}
				}
			}
		}
	}
}
